# Problem 1

In [99]:
list1 = ['hello', 1, True]
l1 = str(input('Please input smth: '))
l2 = int(input('Please input smth again: '))
new_list = []
new_list.extend(list1)
new_list.append(l1)
new_list.append(l2)
print(new_list)
print(list1)

Please input smth: 6*9
Please input smth again: 42
['hello', 1, True, '6*9', 42]
['hello', 1, True]

# Problem 2

In [82]:
list2 = ['hitchhiker\'s', 'guide', 'to', 'the', 'galaxy', 42]
print('list2 before any changes: ', list2)
l1 = input('Input smth: ')
try:
    l1 = int(l1)
    try:
        list2.remove(l1)
    except:
        print('No such value in the list')    
except:
    try:
        list2.remove(l1)
    except:
        print('No such value in the list')
print('list2 after the changes: ', list2)

list2 before any changes:  ["hitchhiker's", 'guide', 'to', 'the', 'galaxy', 42]
Input smth: 42
list2 after the changes:  ["hitchhiker's", 'guide', 'to', 'the', 'galaxy']

# Problem 3

In [90]:
list3 = ['I', 'am', 'nana', 42, True, '5th index', 'bla','Zaphod','mice']
print('list3 before any changes: ', list3)
indices = {0,4,5}
list3 = [v for i, v in enumerate(list3) if i not in indices]
print('list3 before any changes: ', list3)

# I did not use del as if i used it once 
# then the next time the list would be already altered

list3 before any changes:  ['I', 'am', 'nana', 42, True, '5th index', 'bla', 'Zaphod', 'mice']
list3 before any changes:  ['am', 'nana', 42, 'bla', 'Zaphod', 'mice']

# Problem 4

In [91]:
list4 = ['I', 'am', 'nana', 42, True, '5th index', 'bla']
print('list3 before any changes: ', list4)
list4_1 = list4[1:4] + list4[6:]
print('list3 before any changes: ', list4_1)

list3 before any changes:  ['I', 'am', 'nana', 42, True, '5th index', 'bla']
list3 before any changes:  ['am', 'nana', 42, 'bla']

# Problem 5

In [92]:
a = [1,4,5,7,8,-2,0,-1]
print('values of a at indices 3 and 5:', a[3], a[5])

values of a at indices 3 and 5: 7 -2

In [93]:
a_sorted = sorted(a, reverse=True)

In [94]:
a_subl_1 = a_sorted[1:4]
a_subl_2 = a_sorted[2:7]
print('sublist #1:', a_subl_1)
print('sublist #2:', a_subl_2)

sublist #1: [7, 5, 4]
sublist #2: [5, 4, 1, 0, -1]

In [95]:
del a_sorted[2:4]

In [96]:
print(a_sorted)

[8, 7, 1, 0, -1, -2]

In [97]:
b = ['grapes', 'Potatoes', 'tomatoes',
'Orange', 'Lemon', 'Broccoli', 'Carrot', 'Sausages']

In [98]:
b_sorted = sorted(b)

In [62]:
c = a[1:4] + b[4:7]